[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "rtaudio"]
	path = rtaudio
	url = https://github.com/thestk/rtaudio.git
